node_modules
.claude
.nx
.vscode
.opencode
.agents
.codex
.gemini

# pnpm
.pnpmfile.cjs

# Build outputs
dist
out-tsc
test-output

.env
.env.local
.env.*.local
.env.production

vite.config.*.timestamp*
vitest.config.*.timestamp*

diploma